<h1>Добавить карту</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="{{proxy}}catalog/{{catalog.id}}/add" method="POST" enctype="multipart/form-data" id="form_add"
    data-action="add" novalidate>
    <div class="form-group">
        <label for="title">Название карты</label>
        <textarea class="form-control" id="title" name="title" placeholder="Введите название карты" rows="4"
            minlength="3" maxlength="255" required>{{data.title}}</textarea>
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <textarea class="form-control" id="discription" name="discription" placeholder="Введите описание" rows="4"
            minlength="3" maxlength="3000" required>{{data.discription}}</textarea>
    </div>

    <div class="form-group">
        <label for="url">WMS URL карты</label>
        <input type="url" class="form-control" id="url" name="url" placeholder="Введите WMS адрес карты" maxlength="255"
            value="{{data.url}}" required>
    </div>

    <div class="form-group">
        <label for="tile">Подложка</label>
        <select class="form-control" id="tile" name="tile">
            <option value="empty">Без подложки</option>
            <option value="topo">Icm topo</option>
            <option value="sentinel">Sentinel</option>
            <option value="relief_dark">Рельеф</option>
            <option value="osm">OSM</option>
        </select>
    </div>

    <div class="form-group">
        <label for="projection">Проекция</label>
        <select class="form-control" id="projection">
            <option value="4326">EPSG: 4326</option>
            <option value="3857">EPSG: 3857</option>
            <option value="3576">EPSG: 3576</option>
        </select>
        <input type="hidden" id="projection_hidden" name="projection" value="4326">
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" placeholder="Добавьте изображение для превью"
            accept=".png, .jpg, .jpeg" required>
    </div>

    <div class="form-group">
        <label for="publicity">Видимость карты</label>
        <select class="form-control" id="publicity" name="publicity">
            {{#select data.publicity}}
            <option value="3">Редакторы</option>
            <option value="2">Авторизированые пользователи</option>
            <option value="1">Все</option>
            {{/select}}
        </select>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Добавить карту</button>
</form>