<h1>Новый раздел каталога</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="{{proxy}}catalog/add" method="POST" enctype="multipart/form-data" id="form_add" data-action="add"
    novalidate>
    <div class="form-group">
        <label for="title">Название раздела каталога</label>
        <textarea class="form-control" id="title" name="title" placeholder="Введите название раздела каталога" rows="4"
            minlength="3" maxlength="255" required>{{data.title}}</textarea>
    </div>

    <div class="form-group">
        <label for="short_discription">Краткое описание</label>
        <textarea class="form-control" id="short_discription" name="short_discription"
            placeholder="Введите краткое описание" rows="4" minlength="3" maxlength="255"
            required>{{data.short_discription}}</textarea>
    </div>

    <div class="form-group">
        <label for="full_discription">Полное описание</label>
        <textarea class="form-control" id="full_discription" name="full_discription"
            placeholder="Введите полное описание" rows="4" minlength="3" maxlength="3000"
            required>{{data.full_discription}}</textarea>
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" accept=".png, .jpg, .jpeg"
            placeholder="Добавьте изображение для превью" required>
    </div>

    <div class="form-group">
        <label for="publicity">Видимость раздела каталога</label>
        <select class="form-control" id="publicity" name="publicity">
            {{#select data.publicity}}
            <option value="3">Редакторы</option>
            <option value="2">Авторизированые пользователи</option>
            <option value="1">Все</option>
            {{/select}}
        </select>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Создать</button>
</form>