<meta type="hidden" name="_csrf" value="{{csrf}}">


<h1 style="margin-bottom: 2rem;">Администрирование</h1>


<p><strong>Таблица пользователей</strong></p>



<table class="table table-striped mb-0">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Права</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody id="usersTable">
        {{#each users}}
        <tr id="user-{{id}}">
            <td id="name-{{id}}">{{name}}</td>
            <td id="permission-{{id}}">{{permission_level}}</td>
            <td><button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#edit_user"
                    id="edit-{{id}}">Редактировать</button>
            </td>
        </tr>
        {{/each}}
        <tr id="addUserTR">
            <td></td>
            <td></td>
            <td><button class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target="#add_user">Добавить</button></td>
        </tr>
    </tbody>
</table>

{{!-- модальное окно для создания пользователя --}}
<div class="modal fade" id="add_user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новый пользователь</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input type="text" class="form-control" id="login">
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password">
                </div>

                <div class="form-group">
                    <label for="permission">Права</label>
                    <select class="form-control" id="permission">
                        <option value="1">Пользователь</option>
                        <option value="2">Модератор</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="addUserDB">Готово</button>
            </div>
        </div>
    </div>
</div>


{{!-- модальное окно для редактирования пользователя --}}
<div class="modal fade" id="edit_user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit_login">Логин</label>
                    <input type="text" class="form-control" id="edit_login">
                </div>

                <div class="form-group form-changepass">
                    <label for="edit_password">Пароль</label>
                    <input type="password" class="form-control" id="edit_password" disabled>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="change_password">
                    <label class="form-check-label" for="change_password">Изменить пароль</label>
                </div>


                <div class="form-group">
                    <label for="edit_permission">Права</label>
                    <select class="form-control" id="edit_permission">
                        <option value="1">Пользователь</option>
                        <option value="2">Модератор</option>
                    </select>
                </div>

                <input type="hidden" id="userId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" id="deleteUserDB">Удалить
                    пользователя</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="editUserDB">Готово</button>
            </div>
        </div>
    </div>
</div>