<h1>Каталог</h1>


{{#ifEditLvl user_lvl}}
<p class="add_link"><a href="/catalog/add">Добавить каталог</a></p>
{{/ifEditLvl}}

<div class="card-columns">
    {{#if catalog.length}}
    {{#each catalog}}

    <div class="card">
        <img class="card-img-top" src="{{img_url}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{discription}}</p>
        </div>
        <div class="card-footer bg-transparent">
            <p class="card-text"><small class="text-muted"><a style="margin-right: 2rem;"
                        href="/catalog/{{id}}">Открыть</a>

                    {{#ifEditLvl @root.user_lvl}}
                    <a href="/catalog/{{id}}/edit?allow=true">Редактировать</a>
                    {{/ifEditLvl}}
                </small></p>
        </div>
    </div>

    {{/each}}
    {{else}}
    <p>Каталог пуст</p>
    {{/if}}
</div>