<h1>Каталог</h1>


{{#ifEditLvl user_lvl}}
<a href="/catalog/add">Добавить каталог</a>
{{/ifEditLvl}}

<div class="card-deck">
    {{#if catalog.length}}
    {{#each catalog}}

    <div class="card">
        <img class="card-img-top" src="{{img_url}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{discription}}</p>
            <p class="card-text"><small class="text-muted"><a href="/catalog/{{id}}">Открыть</a></small></p>
        </div>
    </div>

    {{/each}}
    {{else}}
    <p>Каталог пуст</p>
    {{/if}}
</div>