<h1 class="title">Тематические разделы каталога карт</h1>


{{#ifEditLvl user_lvl}}
<p class="add__link"><a href="{{proxy}}catalog/add">Добавить раздел каталога</a></p>
{{/ifEditLvl}}


{{#if catalog.length}}
<div class="row">
    {{#each catalog}}
    <div class="col-lg-4 catalog-card">
        <div class="card">
            <a href="{{@root.proxy}}catalog/{{id}}"><img class="card-img-top" src="{{img_url}}"></a>
            <div class="card-body catalog-card-body">
                <h5 class="card-title"><b>{{title}}</b></h5>
                <p class="card-text">{{short_discription}}</p>
            </div>
            <div class="card-footer bg-transparent">
                <p class="card-text">

                    <a class="btn btn-link btn-sm" style="margin-right: 2rem;" href="{{@root.proxy}}catalog/{{id}}">Открыть</a>

                    {{#ifEditLvl @root.user_lvl}}
                    <a class="btn btn-link btn-sm" href="{{@root.proxy}}catalog/{{id}}/edit?allow=true">Редактировать</a>
                    {{/ifEditLvl}}

                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Каталог пуст</p>
{{/if}}