<h1>Редактирование карты: {{map.title}}</h1>


<form action="/catalog/{{map.parent_catalog}}/edit" method="POST" enctype="multipart/form-data" id="edit">
    <div class="form-group">
        <label for="title">Название карты</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Введите название карты"
            value="{{map.title}}">
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <input type="text" class="form-control" id="discription" name="discription" placeholder="Введите описание"
            value="{{map.discription}}">
    </div>

    <div class="form-group">
        <label for="url">WMS URL карты</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Введите WMS адрес карты"
            value="{{map.url}}">
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" placeholder="Добавьте изображение для превью">
    </div>

    <div class="form-group">
        <label for="publicity">Видимость карты</label>
        <select class="form-control" id="publicity" name="publicity">
            {{#select map.publicity}}
            <option value="3">Только модераторы</option>
            <option value="2">Модераторы и пользователи</option>
            <option value="1">Все</option>
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label for="parent_catalog">Каталог</label>
        <select class="form-control" id="parent_catalog" name="parent_catalog">
            {{#select map.parent_catalog}}
            {{#each catalogs}}
            <option value="{{id}}">{{title}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <input type="hidden" name="id" value="{{map.id}}">
</form>

<form action="/catalog/{{map.parent_catalog}}/remove" method="POST" id="delete">
    <input type="hidden" name="id" value="{{map.id}}">
</form>

<div class="submit-btns">
    <button type="submit" form="edit" class="btn btn-primary">Готово</button>
    <button type="submit" form="delete" class="btn btn-danger">Удалить карту</button>
</div>