<h1>Редкатирование каталога: {{catalog.title}}</h1>

<form action="/catalog/edit" method="POST" enctype="multipart/form-data" id="edit">
    <div class="form-group">
        <label for="title">Название каталога</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Введите название каталога"
            value={{catalog.title}}>
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <input type="text" class="form-control" id="discription" name="discription" placeholder="Введите описание"
            value={{catalog.discription}}>
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" placeholder="Добавьте изображение для превью">
    </div>

    <div class="form-group">
        <label for="publicity">Видимость каталога</label>
        <select class="form-control" id="publicity" name="publicity">
            {{#select catalog.publicity}}
            <option value="3">Только модераторы</option>
            <option value="2">Модераторы и пользователи</option>
            <option value="1">Все</option>
            {{/select}}
        </select>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{catalog.id}}">

</form>

<div class="submit-btns">
    <button type="submit" form="edit" class="btn btn-primary">Готово</button>
    <button data-toggle="modal" data-target="#confirm_delete" class="btn btn-danger">Удалить каталог</button>
</div>


{{!-- модальное окно для подтверждения удаления --}}
<div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Внимание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Все карты находящиеся в каталоге будут удалены</p>
                <p>Продолжить?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>

                <form action="/catalog/remove" method="POST" id="delete">
                    <input type="hidden" name="id" value="{{catalog.id}}">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <button type="submit" form="delete" class="btn btn-primary">Удалить каталог</button>
                </form>
            </div>
        </div>
    </div>
</div>