<h1>Редактирование карты: {{map.title}}</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/catalog/{{map.parent_catalog}}/edit" method="POST" enctype="multipart/form-data" id="edit">
    <div class="form-group">
        <label for="title">Название карты</label>
        <textarea class="form-control" id="title" name="title" placeholder="Введите название карты" rows="4"
            minlength="3" maxlength="255" required>{{map.title}}</textarea>
    </div>

    <div class="form-group">
        <label for="discription">Описание</label>
        <textarea class="form-control" id="discription" name="discription" placeholder="Введите описание" rows="4"
            minlength="3" maxlength="1000" required>{{map.discription}}</textarea>
    </div>

    <div class="form-group">
        <label for="url">WMS URL карты</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Введите WMS адрес карты" minlength="7"
            maxlength="255" value="{{map.url}}" required>
    </div>

    <div class="form-group">
        <label for="tile">Подложка</label>
        <select class="form-control" id="tile" name="tile">
            {{#select map.tile}}
            <option value="empty">Без подложки</option>
            <option value="topo">Icm topo</option>
            <option value="sentinel">Sentinel</option>
            <option value="relief_dark">Рельеф</option>
            <option value="osm">OSM</option>
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label for="projection">Проекция</label>
        <select class="form-control" id="projection">
            {{#select map.projection}}
            <option value="4326">EPSG: 4326</option>
            <option value="3857">EPSG: 3857</option>
            <option value="3576">EPSG: 3576</option>
            {{/select}}
        </select>
        <input type="hidden" id="projection_hidden" name="projection" value="{{map.projection}}">
    </div>

    <div class="form-group">
        <label for="img">Изображение</label>
        <input type="file" class="form-control-file" id="img" name="img" accept=".png, .jpg, .jpeg"
            placeholder="Добавьте изображение для превью">
    </div>

    <div class="form-group">
        <label for="publicity">Видимость карты</label>
        <select class="form-control" id="publicity" name="publicity">
            {{#select map.publicity}}
            <option value="3">Редакторы</option>
            <option value="2">Авторизированые пользователи</option>
            <option value="1">Все</option>
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label for="parent_catalog">Каталог</label>
        <select class="form-control" id="parent_catalog" name="parent_catalog">
            {{#select map.parent_catalog}}
            {{#each catalogs}}
            <option value="{{id}}">{{title}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{map.id}}">
</form>

<form action="/catalog/{{map.parent_catalog}}/remove" method="POST" id="delete">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{map.id}}">
</form>

<div class="submit-btns">
    <button type="submit" form="edit" class="btn btn-primary">Готово</button>
    <button type="submit" form="delete" class="btn btn-danger">Удалить карту</button>
</div>