<h1>Подкаталог</h1>

<a href="/catalog/{{id}}/add">Добавить карту</a>

<div class="row">
    {{#if maps.length}}
    {{#each maps}}
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img class="image" src="../{{img_url}}">
                <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content">
                <p>{{discription}}</p>
            </div>
            <div class="card-action">
                <a href="/catalog/{{@root.id}}/{{id}}">Открыть</a>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>Каталог пуст</p>
    {{/if}}
</div>