<h1>{{catalog.title}}</h1>

{{#ifEditLvl user_lvl}}
<p class="add_link"><a href="/catalog/{{catalog.id}}/add">Добавить карту</a></p>
{{/ifEditLvl}}


{{#if maps.length}}
<div class="row">
    {{#each maps}}
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="../{{img_url}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{discription}}</p>


            </div>
            <div class="card-footer bg-transparent ">
                <p class="card-text"><small class="text-muted"><a style="margin-right: 2rem;"
                            href="/catalog/{{@root.catalog.id}}/{{id}}">Открыть</a>

                        {{#ifEditLvl @root.user_lvl}}
                        <a href="/catalog/{{@root.catalog.id}}/{{id}}/edit?allow=true">Редактировать</a>
                        {{/ifEditLvl}}
                    </small></p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Каталог пуст</p>
{{/if}}