<h1 class="title">{{catalog.title}}</h1>


{{#ifEditLvl user_lvl}}
<p class="add__link"><a href="/catalog/{{catalog.id}}/add">Добавить карту</a></p>
{{/ifEditLvl}}


{{#if maps.length}}

{{#each maps}}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4" style="max-height: 350px;">
            <a href="/catalog/{{@root.catalog.id}}/{{id}}"><img src="../{{img_url}}" class="card-img"></a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>{{title}}</b></h5>
                <p class="card-text">

                    <button type="button" class="btn btn-link btn-sm wms-btn" style="margin-right: 2rem;"
                        data-toggle="modal" data-target="#wms_modal" data-id="{{url}}">WMS</button>

                    <a style="margin-right: 2rem;" class="btn btn-link btn-sm"
                        href="/catalog/{{@root.catalog.id}}/{{id}}">Открыть</a>

                    {{#ifEditLvl @root.user_lvl}}
                    <a class="btn btn-link btn-sm"
                        href="/catalog/{{@root.catalog.id}}/{{id}}/edit?allow=true">Редактировать</a>
                    {{/ifEditLvl}}

                </p>
                <p class="card-text">{{discription}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}


<div class="modal fade" id="wms_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>WMS URL</h5>
                <div class="form-group">
                    <input type="text" class="form-control" id="wms_url" readonly>
                </div>
                <button type="button" class="btn btn-secondary btn-sm" id="wms_copy">Скопировать</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


{{else}}
<p>Каталог пуст</p>
{{/if}}